* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'DM Sans', sans-serif;
}

body {
	min-width: 800px;
	overflow-x: auto;
}

a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

span:not(.wrapper) {
	color: white;
	padding-left: 10px;
	font-size: 17px;
}

ul,ol,menu {
	list-style: none;
}

ul {
	display: flex;
	gap: 10px;
}

img {
	display: block;
	width: 100%;
}

.img-b {
	display: none;
}

p {
	font-size: 18px;
	line-height: 1.5em;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
}

.col {
	justify-content: center;
	display: flex;
}


